<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.signapp.mapper.EmployeeMapper">
    <insert id="insertEmployee" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO employee (id, pw, level)
        VALUES (#{id}, #{pw}, #{level})
    </insert>
    <select id="login" resultType="com.example.signapp.dto.Employee">
	    SELECT * FROM employee
	    WHERE id = #{id} AND pw = #{pw}
	</select>
</mapper>